<h2>Products</h2>
<div *ngFor = "let product of products" class = "main">
  <h3>
    <a
      [title] = "product.name + ' details'"
      [routerLink]="['/products',product.id]"
    >
    {{product.name}}
      <div class = "image-holder">
        <img class = "product-img" src="{{product.image}}" alt="">
      </div>
    </a>
  </h3>
  <p *ngIf = "product.description">
    Description: {{product.description}}
  </p>
  <button type = "button" (click) = "shareOn(product.link)"> Share </button>
  <app-product-alerts
    (notify)="onNotify()"
    [product]="product">
  </app-product-alerts>
</div>




